[run]
source = apps
omit = 
    */migrations/*
    */tests/*
    */test_*.py
    */__init__.py
    */admin.py
    */apps.py

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
